name: Build

on:
  push:
    branches:
      - master

jobs:
  build:
    name: docker build & push
    runs-on: ubuntu-latest
    steps:
      - name: checkout scm
        uses: actions/checkout@v2
      - name: docker/build-push
        uses: docker/build-push-action@v1
        with:
          username: dhruvin3346
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: dhruvin3346/firebase_action_version770
          tags: latest
